.logo {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-right: 25px;
}
header {
  display: flex;
}
.return {
  display: flex;
  width: 20px;
  height: 20px;
  padding: 15px 0px 0 15px;
}

.return .fas {
  font-size: 20px;
}
