/* Animation Loader spinner */
@keyframes loader {
  0% {
    opacity: 1;
    z-index: 2;
  }
  50% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
  }
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 20px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
/* Animation coeur */
.logo_full:hover {
  animation-name: likebutton;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.logo_empty:hover {
  background: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes likebutton {
  0% {
    background: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
  }
  100% {
    background: linear-gradient(#ff79da, #9356dc);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 1;
  }
}
/* Animation Valid button */
@keyframes validbutton {
  0% {
    width: 0;
    display: none;
  }
  100% {
    width: 80px;
    display: block;
  }
}
.component__text .component__price .container__menu__component {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.button__icon {
  color: #99e2d0;
  display: flex;
  width: 25px;
  align-items: center;
  justify-content: center;
  height: 25px;
  border-radius: 50px;
  background-color: white;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}

.component__button {
  display: flex;
  background-color: #99e2d0;
  border-radius: 0px 15px 15px 0px;
  width: 0px;
  height: 60px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition-duration: 0.5s;
}

.container__menu__component:hover .component__button {
  animation: validbutton;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.container__menu__component:hover .button__icon {
  transform: rotate(0);
}

/* animations cards menu */
@keyframes fadein {
  0% {
    position: relative;
    top: 10px;
    opacity: 0;
  }
  100% {
    position: relative;
    top: 0px;
    opacity: 1;
  }
}
.container__menu__component {
  opacity: 1;
  animation-name: fadein;
  animation-duration: 1s;
}
.container__menu__component.delay1 {
  animation-duration: 1.5s;
}
.container__menu__component.delay2 {
  animation-duration: 2s;
}
.container__menu__component.delay3 {
  animation-duration: 2.5s;
}
.container__menu__component.delay4 {
  animation-duration: 3s;
}
.container__menu__component.delay5 {
  animation-duration: 3.5s;
}
.container__menu__component.delay6 {
  animation-duration: 4s;
}
.container__menu__component.delay7 {
  animation-duration: 4.5s;
}
.container__menu__component.delay8 {
  animation-duration: 5s;
}
.container__menu__component.delay9 {
  animation-duration: 5.5s;
}

.container_loader {
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #353535;
  z-index: -1;
  animation-name: loader;
  animation-duration: 3s;
  opacity: 0;
}

.spinner_logo p {
  color: whitesmoke;
}

.spinner_logo {
  width: 100%;
}

.spinner {
  display: flex;
  width: 100%;
  height: 70%;
  align-items: center;
  justify-content: center;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.maincard__intro h2 {
  margin-top: 15px;
  font-family: "Shrikhand", cursive;
}

ul {
  list-style: none;
}

.container_footer ul {
  color: white;
}

.component__text h3 {
  font-size: 15px;
}

.container h4 {
  font-weight: bolder;
}

.footer__logo h3 {
  font-family: "Shrikhand", cursive;
  color: white;
  font-weight: lighter;
}

.spinner_logo p {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}

.logo h1 {
  font-family: "Shrikhand", cursive;
}

.container__menu__button h3 {
  font-size: 14px;
}

.logo_full {
  font-size: 28px;
}

.logo_empty {
  font-size: 25px;
}

.container__btn a {
  color: white;
  text-decoration: none;
  padding: 15px 35px 15px 35px;
  border-radius: 20px;
  background: linear-gradient(#ff79da, #9356dc);
  background-clip: padding-box;
  box-shadow: 0 0px 5px rgba(41, 30, 30, 0.3), 0 5px 5px rgba(0, 0, 0, 0.22);
}
.container__btn a:hover {
  filter: contrast(120%);
  animation-duration: 2s;
  box-shadow: 0 0px 10px rgba(41, 30, 30, 0.3), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.container__btn {
  z-index: 1;
}

.icon_footer {
  margin-right: 10px;
}

.icon_footer2 {
  margin-right: 4px;
}

.icon {
  padding: 10px;
  color: gray;
}

.button__text {
  padding: 10px;
  justify-content: end;
  margin-left: 20px;
}

.button__number {
  width: 24px;
  height: 24px;
  border-radius: 30px;
  margin-top: 8px;
  margin-right: 10px;
  margin-left: -12px;
  background-color: #9356dc;
}

.button__number h5 {
  margin-left: 8px;
  margin-top: 4px;
  color: white;
  font-weight: normal;
}

/* Coeur */
.logo_full {
  position: absolute;
  bottom: 12px;
  left: 30px;
  width: 30px;
  height: 30px;
}

.couleur {
  background: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
}

.card__bottom__button {
  width: 30px;
  height: 30px;
  text-align: end;
  margin-top: 20px;
  border: 0 solid transparent;
  padding: 5px 30px 10px 30px;
  position: relative;
}

.container__column__card {
  width: 90%;
  height: 230px;
  border-radius: 16px;
  box-shadow: 0 0px 5px rgba(41, 30, 30, 0.3), 0 5px 5px rgba(0, 0, 0, 0.22);
  margin-left: 18px;
  margin-bottom: 20px;
}

.container__column {
  background-color: whitesmoke;
  padding-bottom: 20px;
}

.text_cards {
  width: 75%;
  height: 30%;
  padding: 15px;
}

.text_cards p {
  margin: 0;
}

.text_cards h3 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.img_cards {
  width: 100%;
  height: 70%;
}

.img_cards img {
  object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  border-radius: 16px 16px 0px 0px;
}

.container__column_card_bottom {
  display: flex;
}

.maincard {
  background-color: whitesmoke;
  border-radius: 40px 40px 0 0;
  padding-bottom: 50px;
}

.maincard__intro {
  display: flex;
  margin-top: -50px;
  margin-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
}

.card_img {
  width: 100%;
  height: 250px;
  background-color: #cccccc;
  background-size: cover;
}
.card_img.menupic1 {
  background-image: url(../img/intro.jpg);
}
.card_img.menupic2 {
  background-image: url(../img/intro2.jpg);
}
.card_img.menupic3 {
  background-image: url(../img/intro3.jpg);
}
.card_img.menupic4 {
  background-image: url(../img/intro4.jpg);
}

.card_img img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  max-height: 100%;
  max-width: 100%;
}

.new {
  position: absolute;
  display: flex;
  top: -140px;
  padding: 6px;
  color: green;
  background-color: #99e2d0;
  right: 25px;
}

.container__column_card_bottom {
  position: relative;
}

.logo {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-right: 25px;
}

header {
  display: flex;
}

.return {
  display: flex;
  width: 20px;
  height: 20px;
  padding: 15px 0px 0 15px;
}

.return .fas {
  font-size: 20px;
}

/*header*/
.location {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  height: 30px;
  padding-top: 10px;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.location__text {
  padding-left: 10px;
}

/* main */
.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  text-align: center;
  background-color: whitesmoke;
  padding-bottom: 80px;
  padding-top: 5px;
  margin-bottom: 50px;
}
.container1 .container__info {
  width: 90%;
  margin-top: 30px;
}
.container1 .container__info h3 {
  width: 100%;
  font-size: 29px;
}
.container1 .container__info h4 {
  width: 100%;
  font-size: 17px;
  margin-top: 10px;
  font-weight: normal;
  margin-left: 0;
}

/* restaurants */
.container {
  margin-top: 50px;
}

.container h4 {
  font-size: 20px;
  padding-left: 15px;
}

.container__column h2 {
  font-size: 20px;
  padding: 50px 0px 20px 20px;
}

/* menu */
.menu_underline {
  width: 39px;
  border-top: 2px solid #99e2d0;
}

.container__menu {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}
.container__menu.indexmenu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}

.container__menu__component h3,
h4 {
  margin: 0px;
}

.container__menu__component h4 {
  font-size: 15px;
  font-weight: normal;
  padding: 0;
}

.container__menu__component {
  display: flex;
  justify-content: flex-end;
  width: 95%;
  height: 60px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 0px 5px rgba(41, 30, 30, 0.3), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.component__price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 14px;
}

.component__text {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding: 10px 10px 0px 10px;
}

.component__text h3 {
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.component__text h4 {
  text-overflow: ellipsis;
  overflow: hidden;
}

.container_button {
  display: flex;
  justify-content: center;
}

/* menu1 page */
.container__btn {
  margin-top: 55px;
}

.container__menu__button {
  display: flex;
  width: 320px;
  padding-top: 15px;
  padding-bottom: 13px;
  color: black;
  background-color: whitesmoke;
  margin-left: 10px;
  margin: 20px 10px 0 20px;
  border-radius: 20px;
  box-shadow: 0 0px 5px rgba(41, 30, 30, 0.3), 0 5px 5px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  z-index: 1;
}
.container__menu__button:hover {
  background-color: #f2eafb;
}

.container__menu__button:hover .icon {
  color: #9356dc;
}

/* footer */
.container_footer {
  padding: 30px;
  background-color: #353535;
}

.footer__column li {
  padding: 5px 0 2px 0px;
}

@media (min-width: 900px) {
  .logo {
    justify-content: center;
  }

  .maincard {
    display: flex;
    flex-wrap: wrap;
  }
  .maincard__intro {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .containner {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .container__column {
    justify-content: center;
  }

  .container__column__card {
    width: 360px;
    height: 270px;
  }

  .container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }

  .container__menu_name {
    width: 100%;
  }

  .container_button {
    width: 100%;
  }

  .container_button {
    justify-content: center;
  }

  .maincard__intro {
    margin-top: 0;
  }

  .maincard {
    border-radius: 0;
  }

  .container__column {
    display: flex;
    flex-wrap: wrap;
  }
}
body {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
