* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.maincard__intro h2 {
  font-family: "Shrikhand", cursive;
}

ul {
  list-style: none;
}

.container_footer ul {
  color: white;
}

.container h4 {
  font-weight: bolder;
}

.footer__logo h3 {
  font-family: "Shrikhand", cursive;
  color: white;
}

.logo h1 {
  font-family: "Shrikhand", cursive;
}

.container__menu__button h3 {
  font-size: 14px;
}

.container__btn a {
  color: white;
  text-decoration: none;
  padding: 15px 35px 15px 35px;
  border-radius: 20px;
  background: linear-gradient(#ff79da, #9356dc);
}

.icon_footer {
  margin-right: 10px;
}

.icon_footer2 {
  margin-right: 4px;
}

.icon {
  padding: 10px;
  color: gray;
}

.button__text {
  padding: 10px;
  justify-content: end;
  margin-left: 20px;
}

.button__number {
  width: 24px;
  height: 24px;
  border-radius: 30px;
  margin-top: 8px;
  margin-right: 10px;
  margin-left: -12px;
  background-color: #9356dc;
}

.button__number h5 {
  margin-left: 8px;
  margin-top: 4px;
  color: white;
  font-weight: normal;
}

.button__icon {
  color: #99e2d0;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: white;
}

.component__button {
  display: flex;
  background-color: #99e2d0;
  border-radius: 0px 20px 20px 0px;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.5s;
  margin-right: 0px;
}

.logo_full {
  display: none;
  position: relative;
  bottom: 19px;
  color: red;
}

.logo_empty:active .logo_full {
  display: block;
}

.container__column__card {
  width: 90%;
  height: 230px;
  border-radius: 16px;
  box-shadow: 0 0px 5px rgba(41, 30, 30, 0.3), 0 5px 5px rgba(0, 0, 0, 0.22);
  margin-left: 18px;
  margin-bottom: 20px;
}

.container__column {
  background-color: whitesmoke;
  padding-bottom: 20px;
}

.text_cards {
  width: 80%;
  height: 30%;
  padding: 10px;
}

.text_cards p {
  margin: 0;
}

.card__bottom__button {
  width: 5%;
  text-align: end;
  margin-top: 25px;
}

.text_cards h3 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.img_cards {
  width: 100%;
  height: 70%;
}

.img_cards img {
  object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  border-radius: 16px 16px 0px 0px;
}

.container__column_card_bottom {
  display: flex;
}

.maincard {
  background-color: whitesmoke;
  border-radius: 40px 40px 0 0;
  padding-bottom: 50px;
}

.maincard__intro {
  margin-top: -50px;
  padding: 20px;
}

.card_img {
  width: 100%;
  height: 250px;
  background-image: url(intro.jpg);
  background-color: #cccccc;
  background-size: cover;
}

.card_img img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  max-height: 100%;
  max-width: 100%;
}

.logo {
  display: flex;
  width: 100%;
  justify-content: center;
}

/*header*/
.location {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  height: 30px;
  padding-top: 10px;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.location__text {
  padding-left: 10px;
}

/* main */
.container1 {
  width: 100%;
  text-align: center;
  background-color: whitesmoke;
  padding-bottom: 80px;
  padding-top: 5px;
  margin-bottom: 50px;
}
.container1 .container__info {
  width: 70%;
  margin-left: 70px;
  margin-bottom: 50px;
  margin-top: 30px;
}
.container1 .container__info h3 {
  width: 90%;
  font-size: 23px;
}
.container1 .container__info h4 {
  width: 115%;
  font-size: 15px;
  margin-top: 10px;
  font-weight: normal;
  margin-left: -32px;
}

/* restaurants */
.container {
  margin-top: 20px;
}

.container h4 {
  font-size: 20px;
  padding-left: 15px;
}

.container__column h2 {
  font-size: 20px;
  padding: 50px 0px 20px 20px;
}

/* menu */
.menu_underline {
  width: 39px;
  border-top: 2px solid #99e2d0;
}

.container__menu {
  margin-left: 10px;
  margin-right: 10px;
}

.container__menu__component h3,
h4 {
  margin: 0px;
}

.container__menu__component h4 {
  font-size: 15px;
  font-weight: normal;
  padding: 0;
}

.container__menu__component {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 0px 5px rgba(41, 30, 30, 0.3), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.component__price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.component__text {
  width: 88%;
  padding: 10px;
}

.component__text h3 {
  font-size: 15px;
}

.container_button {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  height: 100px;
}

/* menu1 page */
.container__menu__button {
  display: flex;
  width: 90%;
  padding-top: 15px;
  padding-bottom: 13px;
  color: black;
  background-color: whitesmoke;
  margin-left: 10px;
  margin: 20px 10px 0 20px;
  border-radius: 20px;
  box-shadow: 0 0px 5px rgba(41, 30, 30, 0.3), 0 5px 5px rgba(0, 0, 0, 0.22);
}

/* footer */
.container_footer {
  padding: 30px;
  background-color: #353535;
}

.footer__column li {
  padding: 5px 0 2px 0px;
}

body {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
