.container__btn a {
  color: white;

  text-decoration: none;
  padding: 15px 35px 15px 35px;
  border-radius: 20px;
  background: linear-gradient(#ff79da, #9356dc);
}
.container__btn {
}
.icon_footer {
  margin-right: 10px;
}
.icon_footer2 {
  margin-right: 4px;
}
.icon {
  padding: 10px;
  color: gray;
}
.button__text {
  padding: 10px;
  justify-content: end;
  margin-left: 20px;
}

.button__number {
  width: 24px;
  height: 24px;
  border-radius: 30px;

  margin-top: 8px;
  margin-right: 10px;

  margin-left: -12px;
  background-color: #9356dc;
}

.button__number h5 {
  margin-left: 8px;
  margin-top: 4px;
  color: white;
  font-weight: normal;
}

.button__icon {
  color: #99e2d0;
  display: flex;
  width: 25px;

  align-items: center;
  justify-content: center;
  height: 25px;
  border-radius: 50px;
  background-color: white;
}
.component__button {
  display: flex;

  background-color: #99e2d0;
  border-radius: 0px 15px 15px 0px;
  width: 80px;
  height: 60px;
  align-items: center;
  justify-content: center;
}
.logo_full {
  display: none;
  position: relative;
  bottom: 19px;

  color: linear-gradient(#ff79da, #9356dc);
}

.logo_empty:active .logo_full {
  display: block;
}
