.container__btn a {
  color: white;

  text-decoration: none;
  padding: 15px 35px 15px 35px;
  border-radius: 20px;
  background: linear-gradient(#ff79da, #9356dc);
  background-clip: padding-box;
  box-shadow: 0 0px 5px rgb(41 30 30 / 30%), 0 5px 5px rgb(0 0 0 / 22%);

  &:hover {
    filter: contrast(120%);
    animation-duration: 2s;
    box-shadow: 0 0px 10px rgb(41 30 30 / 30%), 0 5px 5px rgb(0 0 0 / 22%);
  }
}
.container__btn {
  z-index: 1;
}

.icon_footer {
  margin-right: 10px;
}
.icon_footer2 {
  margin-right: 4px;
}
.icon {
  padding: 10px;
  color: gray;
}
.button__text {
  padding: 10px;
  justify-content: end;
  margin-left: 20px;
}

.button__number {
  width: 24px;
  height: 24px;
  border-radius: 30px;

  margin-top: 8px;
  margin-right: 10px;

  margin-left: -12px;
  background-color: #9356dc;
}

.button__number h5 {
  margin-left: 8px;
  margin-top: 4px;
  color: white;
  font-weight: normal;
}

/* Coeur */

.logo_full {
  position: absolute;
  bottom: 12px;
  left: 30px;
  width: 30px;
  height: 30px;
}

.couleur {
  background: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
}

.card__bottom__button {
  width: 30px;
  height: 30px;
  text-align: end;
  margin-top: 20px;
  border: 0 solid transparent;
  padding: 5px 30px 10px 30px;
  position: relative;
}
