.container__btn a {
  color: white;

  text-decoration: none;
  padding: 15px 35px 15px 35px;
  border-radius: 20px;
  background: linear-gradient(#ff79da, #9356dc);
  background-clip: padding-box;
  box-shadow: 0 0px 5px rgb(41 30 30 / 30%), 0 5px 5px rgb(0 0 0 / 22%);

  &:hover {
    filter: contrast(120%);
    animation-duration: 2s;
    box-shadow: 0 0px 10px rgb(41 30 30 / 30%), 0 5px 5px rgb(0 0 0 / 22%);
  }
}
.container__btn {
  z-index: 1;
}

.icon_footer {
  margin-right: 10px;
}
.icon_footer2 {
  margin-right: 4px;
}
.icon {
  padding: 10px;
  color: gray;
}
.button__text {
  padding: 10px;
  justify-content: end;
  margin-left: 20px;
}

.button__number {
  width: 24px;
  height: 24px;
  border-radius: 30px;

  margin-top: 8px;
  margin-right: 10px;

  margin-left: -12px;
  background-color: #9356dc;
}

.button__number h5 {
  margin-left: 8px;
  margin-top: 4px;
  color: white;
  font-weight: normal;
}

.button__icon {
  color: #99e2d0;
  display: flex;
  width: 25px;

  align-items: center;
  justify-content: center;
  height: 25px;
  border-radius: 50px;
  background-color: white;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.component__button {
  display: flex;

  background-color: #99e2d0;
  border-radius: 0px 15px 15px 0px;
  width: 0px;
  height: 60px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition-duration: 0.5s;
}
.container__menu__component {
  &:hover .component__button {
    animation: validbutton;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  &:hover .button__icon {
    transform: rotate(0);
  }
}
@keyframes validbutton {
  0% {
    width: 0;
    display: none;
  }

  100% {
    width: 80px;
    display: block;
  }
}
.component__text .component__price .container__menu__component {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.logo_full {
  display: block;
  position: absolute;
  bottom: 11px;
  left: 29px;
  width: 30px;
  height: 30px;
}

.couleur {
  background: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  cursor: pointer;
}

.logo_empty:hover .logo_full {
  background: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  transition-duration: 0.5s;
}

.card__bottom__button {
  width: 30px;
  height: 30px;
  text-align: end;
  margin-top: 20px;
  border: 0 solid transparent;
  padding: 5px 30px 10px 30px;
  position: relative;
}

.container__menu__button {
  color: blueviolet;
}
