.container__column__card {
  width: 90%;

  height: 230px;
  border-radius: 16px;
  box-shadow: 0 0px 5px rgb(41 30 30 / 30%), 0 5px 5px rgb(0 0 0 / 22%);
  margin-left: 18px;
  margin-bottom: 20px;
}
.container__column {
  background-color: whitesmoke;
  padding-bottom: 20px;
}
.text_cards {
  width: 75%;
  height: 30%;
  padding: 15px;
}
.text_cards p {
  margin: 0;
}

.text_cards h3 {
  margin-bottom: 0px;
  margin-top: 0px;
}
.img_cards {
  width: 100%;
  height: 70%;
}
.img_cards img {
  object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  border-radius: 16px 16px 0px 0px;
}

.container__column_card_bottom {
  display: flex;
}

.maincard {
  background-color: whitesmoke;
  border-radius: 40px 40px 0 0;
  padding-bottom: 50px;
}

.maincard__intro {
  display: flex;
  margin-top: -50px;
  margin-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
}
.card_img {
  width: 100%;
  height: 250px;

  background-color: #cccccc;
  background-size: cover;
  &.menupic1 {
    background-image: url(../img/intro.jpg);
  }
  &.menupic2 {
    background-image: url(../img/intro2.jpg);
  }
  &.menupic3 {
    background-image: url(../img/intro3.jpg);
  }
  &.menupic4 {
    background-image: url(../img/intro4.jpg);
  }
}

.card_img img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  max-height: 100%;
  max-width: 100%;
}

.new {
  position: absolute;
  display: flex;
  top: -140px;
  padding: 6px;
  color: green;
  background-color: #99e2d0;
  right: 25px;
}
.container__column_card_bottom {
  position: relative;
}

/* animations cards menu */

@keyframes fadein {
  0% {
    position: relative;
    top: 10px;
    opacity: 0;
  }
  100% {
    position: relative;
    top: 0px;
    opacity: 1;
  }
}

.container__menu__component {
  opacity: 1;
  animation-name: fadein;
  animation-duration: 1s;
  &.delay1 {
    animation-duration: 1.5s;
  }
  &.delay2 {
    animation-duration: 2s;
  }
  &.delay3 {
    animation-duration: 2.5s;
  }
  &.delay4 {
    animation-duration: 3s;
  }
  &.delay5 {
    animation-duration: 3.5s;
  }
  &.delay6 {
    animation-duration: 4s;
  }
  &.delay7 {
    animation-duration: 4.5s;
  }
  &.delay8 {
    animation-duration: 5s;
  }
  &.delay9 {
    animation-duration: 5.5s;
  }
}
