.container_loader {
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #353535;
  z-index: -1;
  animation-name: loader;

  animation-duration: 3s;
  opacity: 0;
}
.spinner_logo p {
  color: whitesmoke;
}
.spinner_logo {
  width: 100%;
}
.spinner {
  display: flex;
  width: 100%;
  height: 70%;
  align-items: center;
  justify-content: center;
}
