* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
::placeholder {
}
a {
  text-decoration: none;
  color: black;
}
.maincard__intro h2 {
  margin-top: 15px;
  font-family: "Shrikhand", cursive;
}

ul {
  list-style: none;
}
.container_footer ul {
  color: white;
}
.component__text h3 {
  font-size: 15px;
}
.container h4 {
  font-weight: bolder;
}
.footer__logo h3 {
  font-family: "Shrikhand", cursive;
  color: white;
}
.spinner_logo p {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}
.logo h1 {
  font-family: "Shrikhand", cursive;
}
.container__menu__button h3 {
  font-size: 14px;
}

.logo_full {
  font-size: 28px;
}
.logo_empty {
  font-size: 25px;
}
