* {
  font-family: "Roboto", cursive;
  margin: 0;
  padding: 0;
}

.maincard__intro h2 {
  font-family: "Shrikhand", cursive;
}

ul {
  list-style: none;
}
.container_footer ul {
  color: white;
}
.footer__logo h3 {
  font-family: "Shrikhand", cursive;
  color: white;
}

.container__menu__button h3 {
  font-size: 14px;
}
